/* Visualizer.css */
.container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #e8eaf6;
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #38bdf8;
  text-align: center;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

canvas {
  border: 2px solid #1e293b;
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
}

.controls {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

button:hover {
  background: #0ea5e9;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  max-width: 900px;
}

td {
  color: black;
  border: 1px solid #38bdf8;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #0ea5e9;
}

.complexity {
  color: black;
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
}
